JRUNMALL_MYSQL_PORT=3307
JRUNMALL_MYSQL_ROOT_PASSWORD=your-mysql-root-password
JRUNMALL_MYSQL_BOOTSTRAP_DB=jrunmall_pms

JRUNMALL_POSTGRES_PORT=6381
JRUNMALL_POSTGRES_USER=postgres
JRUNMALL_POSTGRES_PASSWORD=your-postgres-password
JRUNMALL_POSTGRES_DB=jrunmall_ai

JRUNMALL_REDIS_PORT=6380

