JRUNMALL_SECKILL_ADDR=127.0.0.1:19090
JRUNMALL_SECKILL_REDIS_URL=redis://127.0.0.1:6379/0
JRUNMALL_SECKILL_STREAM=jrunmall:seckill:orders
JRUNMALL_SECKILL_KEY_PREFIX=jrunmall:seckill
JRUNMALL_SECKILL_ORDER_TOKEN_PREFIX=SEC


